<app-nav-container></app-nav-container>

<section *ngIf="doctor">
  <div class="doc-card">
    <div class="info">
      <div class="title">{{ doctor.name }}, {{doctor.rating}} Star</div>
      <div class="doctor">{{ doctor.specialty }}</div>
      <br/>
      <br/>
      <br/>
      <div class="doc-info">{{ doctor.info }}</div>

    </div>
  </div>
  <div class="button-div">
    <button (click)="goBack()" class="button">GO BACK</button>
  </div>
</section>

<section *ngIf="!doctor">
  <div class="doc-card">
    <div class="info">NO Doctors FOUND</div>
  </div>
  <div class="button-div">
    <button (click)="goBack()" class="button">GO BACK</button>
  </div>
</section>
