.contentOne {
  display: flex;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: 0px auto 32px;
  flex-direction: column;
  align-items: center;
  background-position: center;
  position: relative;
}

.formBackground {
  width: 70%;
  margin: 5em auto auto;
  background-color: #09f;
  border-radius: 0.5em;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
}

.leftSideForm {
  flex-grow: 1;
  height: 100%;
  background-color: #09f;
  color: white;
}

.searchBtn {
  all: unset;
  border-radius: 50px;
  background-color: #fff;
  color: #09f;
  height: 20px;
  width: 200px;
  margin: 16px 8px 16px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  padding: 100px;
  flex-direction: row;
  align-items: center;
}
.second_content {
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #09f;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;

  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #09f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}


/* NEW STYLES */


