<app-nav-container></app-nav-container>
<div class="content" role="main">
  <div class="bgimg">
    <div class="formBackground">
      <div class="rightSideForm">
        <h1>Searching....</h1>
        <h1>Your search is ready</h1>
        <br/>
        <br/>
        <br/>
        <a class="loginButton" target="" rel="noopener" href="/result">
            <span>See result</span>
          </a>
       
      </div>

      <div class="leftSideForm">
        
      </div>
    </div>
  </div>
</div>
