<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjYpc5frG2mOpWOyeQlfMfw4t6TPbU2733mA&usqp=CAU"
  />
  <span>Health Finder</span>
  <div class="spacer"></div>

  <ul>
    <li><a class="active" href="">Home</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <a class="loginButton" target="" rel="noopener" href="/login">
    <span>Login</span>
  </a>
</div>
