.navbar-dark{
  background-color:  #09f !important;
  color:#fff !important ;
}


.btn-outline-success{
background-color: #fff;
color: #09f;
margin: 20px;
}

.btn-outline-success:hover{
  color: #09f;
}
