

<div class="container-fluid">

  <form action="/">
    <div class="mb-3 mt-3">
      <label for="text" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
    </div>
    <div class="mb-3 mt-3">
      <label for="text" class="form-label">Specialisation</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Specialisation" name="name">
    </div>
    <div class="mb-3 mt-3">
      <label for="text" class="form-label">State</label>
      <input type="text" class="form-control" id="name" placeholder="Enter State" name="name">
    </div>
    <div class="mb-3 mt-3">
      <label for="text" class="form-label">Language</label>
      <input type="text" class="form-control" id="language" placeholder="Enter Language" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
